<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course


# Data Science Tools and Ecosystem


### Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.


## Objectives

This notebook summarizes some of the key takeaways from the course, including:

- List popular languages for Data Science
- List popular libraries used by Data Scientists
- List examples of development environment open source tools
- Utilizing markdown cells in Jupyter notebook
- Examples of code blocks in Jupyter notebook


### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia


### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. ggplot2
7. Caffe


### Three development environment open source tools used in data science are:

| Data Science Tools |
| -------------- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |


### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
mins = 200 # number of minutes
conv = 60 # 60 mins in an hour
print (mins, "minutes is equal to ", round(mins / conv, 2), "hours.")

200 minutes is equal to  3.33 hours.


## Author

D Olson

Copyright Â©2024 IBM Corporation. All rights reserved.